@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 14px;
}

button {
  cursor: pointer !important;
}

#auth-layout {
  background-color: #f5f8f9;
  background-image: url("@/assets/auth-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}
